* {
    margin: 0px;
    padding: 0px;
}
.auth{
    display: none;
}
.visible{
    visibility: hidden;
}
.lazy-image {
    width: 110px; /* Adjust as needed */
    height: fit-content; /* Maintain aspect ratio */
    display: block;
    margin: 10px;
  }
.container {
    margin: 0 auto;
    /* display: flex;
    justify-content: center; */
    padding: 0;
}

/* ****************** Main Page ******************** */
.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100%; */
    /* background: black; */
}

.main-page-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo-main {
    /* display: flex; */
    width: 342px;
    height: 268px;
    padding: 2.252px 2.25px 2.547px 2.813px;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-shrink: 0; */
}

.main-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: blanchedalmond; */
}

.main-heading {
    color: #61B846;
    /* font-family: Inter; */
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 0px;
    /* 65.789% */

}

.main-sub-heading {
    color: #024F9D;
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
}

.btn-get-started {
    width: 226px;
    height: 69px;
    border-radius: 15px;
    background: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
    color: #FFF;
    /* font-family: Inter; */
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 83.333% */
}

.btn-get-started:active,
.btn-get-started:hover,
.btn-get-started:focus,
.btn-get-started:visited {
    color: #61B846 !important;
    background: #FFF !important;

}

/* ****************** End Main Page ******************** */

/* ****************** Signup Page ********************* */
.signup .main-page-content {
    display: block;
    padding: 70px 20px;
}

.signup .main-page-text h1 {
    color: #61B846;
    /* font-family: Inter; */
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 71.429% */
}

.signup .main-page-text h2 {
    color: #024F9D;
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
}

.signup .form {
    width: 100%;
    padding: 70px 0px 10px;
}

.lower-form {
    padding: 50px 25px 10px;
}

.signup .form input,
.signup .form .inp-icon {
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #D4D3D3;
}

.signup .form input::placeholder {
    color: #D4D3D3;
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 25px; */
    /* 125% */
}

/* input:focus::placeholder {
    color: #999;
  } */

.signup .form img {
    /* filter: invert(0.7); */
    width: 30px;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
}

.signup .form input:focus {
    border-bottom: 2px solid #61b846;
}

.signup .form input:focus~span.inp-icon {
    border-bottom: 2px solid #61b846;
}

.signup .form .radio input {
    border: 1px double #166dc5b0;
    border-radius: 50%;
    /* background: red; */
}

.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url('../img/icon/dot-single-svgrepo-com.png');
}

.radio-box {
    /* height: 95%;
    /* background: bisque; */
    /* display: flex;
    align-items: flex-end; */
    /* flex-direction: column; 
    flex-wrap: wrap; */

    height: 50%;
    /* background: bisque; */
    display: inline-flex;
    /* flex-direction: column; */
    width: inherit;
    align-content: end;
}

.signup .error {
    color: red;
}

div#radio_acc_typeError {
    padding: 0px 0px 26px;
}

/* ****************** End Signup Page ******************** */

/* ******************  SignIn Page ******************** */
button#forgotPass,
#loginLink,
#registerLink {
    text-decoration: none;
    color: #024F9D;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    /* line-height: 25px; */
}

/* ****************** End SignIn Page ******************** */

/* ****************** Sales Page ******************** */
.sale .container,
.footer .container {
    width: 60%;
}

header.main-header {
    /* background: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 35px 30px 45px 35px;
}

.sale .main-page-content {
    text-align: center;
    /* align-items: center; */
    /* padding: 0; */
    height: 0vh;
    /* width: 80%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start; */
    padding: 0px;
}

.sale .main-sub-heading {
    font-size: 18px;
    /* padding: 0; */
    margin: 0;
}

.sale .main-heading {
    font-size: 28px;
}

.sale .main-sub-heading {
    font-size: 18px;
}

sale a:hover,
.sale a:active,
.sale a:focus,
.sale a:visited {
    text-decoration: none;
}

.sale .icons {
    /* display: flex; */
}

.sale .icon-link {
    margin-left: 10px;
}

/* Styling for the icons */
.sale .icon-link img {
    width: 24px;
    height: 24px;
}

.sale-content-inner .content-heading {
    padding: 5px 25px;
    text-align: center;
}

.sale-content .main-sub-heading {
    font-size: 30px;
}

.sale-content .content-heading h4 {
    color: #BFBCBC;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    padding: 15px;
}

.sale-content-inner .content {
    margin: 0 auto;
    width: 80%;
    padding: 10px;
    text-align: center;
}

.sale .cat-inp {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale .cat-inp img {
    width: 45px;
    margin-right: 15px;
}

.sale .cat-inp p {
    margin: 0;
}

.sale .content-category {
    display: flex;
    flex-wrap: wrap;
    /* width: 80%; */
    justify-content: space-between;
}

.sale .cat-style {
    flex: 50%;
    /* flex: 1; */
    /* min-width: 300px; */
    /* max-width: 400px; */
    display: flex;
    /* Add flex display to center the inner content */
    justify-content: center;
    /* Center items horizontally within each column */
    padding: 25px;
}

/* ******************End Sales Page ******************** */
/* **************     Admin: Sales-Product Page    *************** */
section.sale-product-content {
    padding: 20px 35px;
}

.sale-product .main-header {
    padding: 30px 30px 40px 35px;
    border-bottom: 2px solid #D9D9D9;
}

.sale-product-content .sale-content-inner {
    padding: 0px 35px;
}

.sale-product-content .content-heading h3,
.unitname-inp label,
.unitprice-inp label {
    text-align: left;
    color: #024F9D;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

.sale-product .main-page-content {
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
    height: 0vh;
}

.account-title {
    text-align: left;
}

.account-title .main-sub-heading{
    font-size: 24px;
}

.account-title h3 {
    color: #61B846;
    font-size: 20px;
}

.sale-product-content .content-category {
    display: flex;
    flex-direction: column;
    /* width: 100%; */

}

.sale-product-content .content {
    /* margin: 0 auto; */
    width: 100%;
    padding: 10px;
    /* text-align: center; */
}

.sale-product-content .cat-fruit {
    margin: 10px 0px;
}

.sale-product-content .cat-inp {
    width: 100%;
    padding: 10px 15px;
    background: none;
    border: 2px solid #61b846cf;
    align-items: center;
    justify-content: space-between;
    box-shadow: none;
    height: fit-content;
}

.content-category .cat-inp:active,
.content-category .cat-inp:hover,
.content-category .cat-inp:focus,
.content-category .cat-inp:visited {
    box-shadow: 0px 4px 4px 5px #13890f70;
}

.sale-product-content .cat-inp img {
    width: 110px;
    /* width: 150px; */
}

.sale-product-content .cat-inp p {
    padding: 8px 0px;
}

.sale-product-content .sub-cat-name {
    color: #61B846;
    font-size: 26px;
    font-weight: 500;
}

.content-category .sub-cat-details{
    display: none;
    text-align: left;
}

.content-category .cat-fruit,
.content-category .sub-cat-price{
    display: none;
}
.content-category .sub-cat-price, 
.content-category .sub-cat-weight {
    color: #BFBCBC;
    font-weight: 400;
    font-size: 22px;
}
.content-category .cat-inp:active~.content-category .sub-cat-weight,
.content-category .cat-inp:hover~.content-category .sub-cat-weight,
.content-category .cat-inp:focus~.content-category .sub-cat-weight,
.content-category .cat-inp:visited~.content-category .sub-cat-weight{
    color: #BFBCBC;
    font-weight: 400;
    font-size: 22px;
}

.sale-product-content .sub-cat-title {
    display: flex;
}

section.footer {
    /* margin: 0px 0px 60px; */
    padding: 15px 40px 50px;
}

footer.footer-menu {
    padding: 15px 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* background: bisque; */
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: aquamarine; */
}

.footer-text {
    text-decoration: none;
    font-size: 18px;
    color: #6D6E71;
    ;
    font-weight: 600;
    text-align: center;
}

.footer-text img {
    width: 40px;
    /* filter: invert(62%) sepia(112%) saturate(349%) hue-rotate(51deg) brightness(60%) contrast(168%); */
}

/* .footer-text img:active,
.footer-text img:hover,
.footer-text img:focus,
.footer-text img:visited
{
    filter: invert(62%) sepia(112%) saturate(349%) hue-rotate(51deg) brightness(60%) contrast(168%);
} */
.footer-text .bi-plus-circle-fill {
    font-size: 32px;
    color: #6D6E71;
    ;
}

.footer-content:hover a .bi-plus-circle-fill,
.footer-content:active a .bi-plus-circle-fill,
.footer-content:focus a .bi-plus-circle-fill,
.footer-content:visited a .bi-plus-circle-fill,
.footer-content:hover a p,
.footer-content:active a p,
.footer-content:focus a p,
.footer-content:visited a p {
    color: #61B846;
    ;
}

.footer-content:hover a img,
.footer-content:active a img,
.footer-content:visited a img,
.footer-content:focus a img {
    filter: invert(62%) sepia(100%) saturate(349%) hue-rotate(61deg) brightness(56%) contrast(168%);
}

.footer-text p {
    margin: 0;
}

/* *************    End Admin: Sales-Product Page   *************** */
/* *************    Admin: Add-Item Page   *************** */
.add-item .form, .acc-settin-content .fullname-div {
    width: 100%;
    padding: 20px 10px;
}

.add-item .lower-form {
    padding: 10px 25px 10px;
}

.add-item .btn-group {
    width: 100%;
}

.add-item .upper-form .row.justify-content-center {
    margin: 15px 0px;
    align-items: center;
}

.add-item .img-placeholder {
    height: 250px;
    width: 100%;
    border: 2px solid #D9D9D9 !important;
    border-radius: 15px !important;
    background: url(../../img/icon/image.png), #D9D9D9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.add-item input,
.add-item textarea,
.add-item select {
    width: 100%;
    border: 2px solid #D9D9D9 !important;
    border-radius: 15px !important;
    background: #D9D9D9;
    font-size: 20px;
}

.add-item select {
    color: #fff;
    background-color: #6c757d;
    
}
.add-item select option{
    background-color: #fff;
    color: #6c757d;
}
.add-item #itemcategory {
    appearance: none;
    background-image: url(../img/icon/chevron-down.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 98% center;
    /* Adjust padding to make space for the SVG */
}
.add-item #itemcategory::after {
    content: "";
    background-image: url('../img/icon/chevron-down.svg'); /* Set the path to your arrow SVG */
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust this value to position the arrow */
    transform: translateY(-50%);
    width: 20px; /* Adjust this value to match the arrow SVG dimensions */
    height: 20px; /* Adjust this value to match the arrow SVG dimensions */
    pointer-events: none; /* Ensure the arrow doesn't interfere with interactions */
  }

.add-item input::placeholder,
.form-floating>.form-control::placeholder {
    color: #BDBABA !important;
    font-size: 20px;
}

.add-item button.btn.btn-secondary.dropdown-toggle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.add-item button.btn.btn-secondary.dropdown-toggle ul#itemcategory {
    width: 100%;
}

.icons:hover a img,
.icons:active a img,
.icons:visited a img,
.icons:focus a img {
    filter: invert(62%) sepia(100%) saturate(349%) hue-rotate(61deg) brightness(56%) contrast(168%);
    background: #2b75142b;
    border-radius: 4px;
}
.add-item .error {
    display: flex;
}

/* *************    End Admin: Add-Item Page   *************** */
/* *************    Admin: Order Page   *************** */
.order-row {
    text-align: left;
    width: 100%;
    padding: 15px 30px;
}

.order-cust-status {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: smaller;
}

.order-item {
    font-size: 12px;
    padding: 10px 0px;
}

p#order-list-item {
    margin: 0;
}

.order-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.order-price span {
    color: #61b846;
    font-weight: 500;
}

.order-row .dropdown-toggle {
    /* display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; */
    border-radius: 15px;
    background: #D9D9D9;
    color: #BDBABA;
    font-weight: 500;
    border-color: #bdbaba36;
}

.order-row .row.justify-content-center {
    padding-bottom: 20px;
    border-bottom: 2px solid #d9d9d9;
}

/* *************    End Admin: Order Page   *************** */
/* *************    Admin: Account Setting   *************** */

.acc-setting header.main-header {
    flex-direction: column;
}
.acc-setting header .main-header-content {
    width: 100%;
    /* background: burlywood; */
    display: flex;
}
.acc-setting header .main-header-content a{
    display: flex;
}  
.acc-setting header .main-header-content .main-sub-heading{
    font-size: 24px;
    text-align: center;
    width: 100%;
    display: inline-block;
}
i.bi.bi-chevron-compact-left {
    color: black;
}
.acc-setting .admin-icon {
    padding: 35px 10px 0px;
}

.acc-settin-content i.bi.bi-check-lg {
    font-size: 35px;
    color: #61b846;
    margin-right: -30px;
}
.acc-settin-content .fullname-div {
    padding: 0px 30px;
}
button#add-cat {
    width: 90%;
    height: 50px;
    font-size: 18px;
}
.acc-settin-content .content.show-all-cat {
    height: 500px;
    overflow: scroll;
    width: 660px;
}
.acc-settin-content .cat-style {
    margin: 10px 0px;
    padding: 10px 5px;
}
.acc-settin-content .sale-product-content .cat-inp {
    padding: 40px 25px;
}
.acc-settin-content .cat-inp img {
    width: 40px;
}
.acc-settin-content .cat-inp p {
    /* padding: 8px 0px; */
    color: #61b846;
    font-size: 20px;
}
.acc-settin-content .lower-form {
    padding: 10px 25px 10px;
    margin: 90px 25px 25px;
}
/* *************    End Admin: Account Setting   *************** */
