* {
    margin: 0px;
    padding: 0px;
}

/* ****************** Main Page ******************** */
.main-page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    /* background: black; */
}

.main-page-logo {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.logo-main {
    /* display: flex; */
    width: 342px;
    height: 268px;
    padding: 2.252px 2.25px 2.547px 2.813px;
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-shrink: 0; */
}

.main-page-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    /* background: blanchedalmond; */
}

.main-heading {
    color: #61B846;
    font-family: Inter;
    font-size: 38px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 65.789% */
}

.main-sub-heading {
    color: #024F9D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
}

.btn-get-started {
    width: 226px;
    height: 69px;
    border-radius: 15px;
    background: #61B846;
    box-shadow: 0px 4px 4px 5px #D4D3D3;
    color: #FFF;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 83.333% */
}

.btn-get-started:active,
.btn-get-started:hover,
.btn-get-started:focus,
.btn-get-started:visited {
    color: #61B846 !important;
    background: #FFF !important;

}

/* ****************** End Main Page ******************** */

/* ****************** Signup Page ********************* */
.signup .main-page-content {
    display: block;
    padding: 70px 20px;
}
.signup .main-page-text h1 {
    color: #61B846;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    /* 71.429% */
}

.signup .main-page-text h2 {
    color: #024F9D;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    /* 125% */
}
.signup .form {
    width: 100%;
    padding: 70px 0px 10px;
}
.lower-form {
    padding: 50px 0px 0px;
}
.signup .form input,
.signup .form .inp-icon{
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid #D4D3D3;
}

.signup .form input::placeholder {
    color: #D4D3D3;
    /* font-family: Inter; */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: 25px; */
    /* 125% */
}
/* input:focus::placeholder {
    color: #999;
  } */

.signup .form img {
    /* filter: invert(0.7); */
    width: 30px;
}

.form-control:focus,
.form-control:active {
    box-shadow: none;
}
.signup .form input:focus{
    border-bottom: 2px solid #61b846;
}

.signup .form input:focus ~ span.inp-icon {
    border-bottom: 2px solid #61b846;
}
.signup .form .radio input {
    border: 1px double #166dc5b0;
    border-radius: 50%;
    /* background: red; */
}
.form-check-input:checked[type=radio] {
    --bs-form-check-bg-image: url('../img/icon/dot-single-svgrepo-com.png');
}

.radio-box{
    /* height: 95%;
    /* background: bisque; */
    /* display: flex;
    align-items: flex-end; */
    /* flex-direction: column; 
    flex-wrap: wrap; */

    height: 50%;
    /* background: bisque; */
    display: inline-flex;
    /* flex-direction: column; */
    width: inherit;
    align-content: end;
}
/* ****************** End Signup Page ******************** */